/*
Paleta de cores:

Branco: #FFFFFF
Vermelho: #EB1E25
Azul: #06123C
*/

/* Tags */

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif; 
    font-weight: 700;
    text-align: center;
}

section {
    padding: 50px 12.5%;
}

@media (max-width: 1200px) {
    section {
        padding: 50px 5%;
}
}

/* Barra de Navegação */

#barra-de-navegacao {
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 20px;
}

.logomarca-barra-de-navegacao {
    width: 150px;
    padding: 0;
}

.item-barra-de-navegacao {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 20px 0;
}

/* Fundação */


#fundacao {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 2.75rem;
    font-family: 'Tangerine', cursive;
    padding: 1px;
}

#fundacao hr {
    border: none;
    border-top: solid 1px #06123C;
    border-bottom: solid 1px #06123C;
    width: 30%;
}

@media (max-width: 1200px) {
    #fundacao hr {
        width: 90%;
    }
    #fundacao {
        font-size: 1.75rem;
    }
}

/* Carrossel */

#carrossel {
    background-color: #06123C;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagem-carrossel {
    height: 300px;
    margin: 40px;
}

@media (max-width: 1200px) {
    .imagem-carrossel {
        height: 150px;
}
}

/* Serviços */

#servicos {
    background-color: #FFFFFF;
}

/* Oficinas */

#oficinas {
    background-color: #06123C;
    color: #FFFFFF;
    padding: 60px;
}

#oficinas h1 {
    margin-bottom: 40px;
}

#oficinas .card {
    margin: 20px 0;
}

#oficinas .card-body {
    padding: 10px;
}

#oficinas  p {
    margin-bottom: 5px;
}

.cartao-oficina .card-header {
    color: #EB1E25;
}

.cartao-oficina .card-body {
    font-size: 1.25rem;
}


.cartao-oficina {
    background-color: #00002d;
    text-align: center;
    margin: 1%;
    padding: 1%;
}

.cartao-oficina a {
    color: #FFFFFF;
}

.cartao-oficina a:hover {
    color: lightgray;
    text-decoration: none;
}

/* Contato */

#contato {
    background-color: #FFFFFF;
}

/* Rodapé */

#rodape {
    background-color: #06123C;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding-top: 75px;
    padding-bottom: 75px;
}

.icone-rodape:link, .icone-rodape:visited {
    margin: 0 50px;
    color: #FFFFFF;
}

.icone-rodape:hover {
    color: lightgray;
}