/*
Paleta de cores:

Branco: #FFFFFF
Vermelho: #EB1E25
Azul: #06123C
*/

/* Tags */

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
}

section {
    padding: 50px 12.5%;
}

@media (max-width: 1200px) {
    section {
        padding: 50px 5%;
    }
}

centralizar {
    text-align: center;
}

/* Barra de Navegação */

#barra-de-navegacao {
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 1200px) {
    #barra-de-navegacao {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.logomarca-barra-de-navegacao {
    width: 150px;
    padding: 0;
}

.item-barra-de-navegacao {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 20px 0;
}

/* Fundação */

#fundacao {
    background-color: #06123C;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.75rem;
    font-family: 'Tangerine', cursive;
    padding: 1px;
}

#fundacao hr {
    border: none;
    border-top: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    width: 30%;
}

@media (max-width: 1200px) {
    #fundacao hr {
        width: 90%;
    }
    #fundacao {
        font-size: 1.75rem;
    }
}

/* Carrossel */

#carrossel {
    background-color: #06123C;
    text-align: center;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}

.imagem-carrossel {
    width: 100%;
    /*margin: 40px;*/
}

@media (max-width: 1200px) {
    .imagem-carrossel {
        height: 150px;
    }
}

/* Serviços */

#servicos {
    background-color: #FFFFFF;
}

/* Oficinas */

#oficinas {
    background-color: #06123C;
    color: #FFFFFF;
}

#oficinas h1 {
    margin-bottom: 40px;
}

#oficinas .card {
    margin: 10px;
}

@media (max-width: 1200px) {
    #oficinas .card {
        margin: 20px 5px;
    }
}

#oficinas .card-body {
    padding: 10px 10px 20px;
}

#oficinas p {
    margin-bottom: 5px;
}

.cartao-oficina .card-header {
    color: #EB1E25;
}

.cartao-oficina .card-body {
    font-size: 1.25rem;
}

.cartao-oficina {
    background-color: #00002d;
    text-align: center;
    margin: 1%;
    padding: 1%;
}

.cartao-oficina a {
    color: #FFFFFF;
}

.cartao-oficina a:hover {
    color: lightgray;
    text-decoration: none;
}

/* Contato */

#contato {
    background-color: #FFFFFF;
    font-size: 1.75rem;
    white-space: nowrap;
}

@media (max-width:1200px) {
    #contato {
        padding-left: 10%;
        font-size: 1.25rem;
    }
}

@media (max-width:1200px) and (min-width:1081px) {
    .ultima-coluna-contato {
        text-align: center;
    }
}

#contato a {
    color: #000000;
}

#contato a:hover {
    color: darkgray;
    text-decoration: none;
}

.icone-contato {
    display: inline-block;
    margin-right: 15px;
}

.titulo-contato {
    padding-bottom: 30px;
}

/* Rodapé */

#rodape {
    background-color: #06123C;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.75rem;
    line-height: 2;
    margin: 0;
    padding-top: 75px;
    padding-bottom: 75px;
}

.link-rodape:link, .link-rodape:visited {
    margin: 0 30px;
    color: #FFFFFF;
}

.link-rodape:hover {
    color: lightgray;
    text-decoration: none;
}

.icone-rodape {
    font-size: 2.5rem;
    display: inline-block;
    margin-right: 20px;
}

@media (min-width: 1200px) {
    .instagram {
        text-align: right;
    }
    .facebook {
        text-align: left;
    }
}